/* Universal Style */

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #4A4A4A;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  line-height: 1.5;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

header .desktop-content {
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0 1.5rem;
}

header .desktop-content .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header .desktop-content li {
  display: inline;
  padding-left: 16px;
}

header .desktop-content li a {
  color: #4A4A4A;
}

header .mobile-content ul {
  display: flex;
  height: 64px;
}

header .mobile-content li {
  margin: auto;
}

@media only screen and (min-width: 701px) {
  header .mobile-content {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  header .desktop-content {
    display: none;
  }
}

/* Main Content */

.main-content {
  margin-top: 4rem;
}

/* Banner */

#banner {
  display: flex;
  padding: 2rem 1.5rem;
  background-color: lightgrey;
}

#banner .image-container {
  width: 60%;
}

#banner .image-container img {
  width: 100%;
}

#banner .text-container {
  display: flex;
  width: 40%;
  align-items: center;
}

#banner .text {
  width: 80%;
  padding-left: 1.5rem;
}

#banner .text h2 {
  margin: 1.5rem 0;
}

#banner .start-button {
  padding: 0.5rem 0;
  background-color: #4A4A4A;
  width: 100%;
  text-align: center;
}

#banner .start-button a {
  color: white;
}

@media only screen and (max-width: 700px){
  #banner {
    flex-direction: column;
    padding: 0;
  }

  #banner .image-container {
    width: 100%;
  }

  #banner .text-container {
    width: 100%;
  }

  #banner .text {
    width: 100%;
    padding: 2rem 1rem;
  }
}

/* Academy Info */

#academy-info {
  display: flex;
}

#academy-info .testimonial-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

#academy-info .testimonial-container img {
  width: 100%;
}

#academy-info .testimonial-container h1 {
  margin-top: 2rem;
}

#academy-info .testimonial-container p {
  margin: 1.5rem 0;
}

#academy-info .info-modules-container {
  width: 40%;
  padding: 1rem 0;
  border-left: 1px solid lightgrey;
}

#academy-info .info-module {
  display: flex;
  padding: 1rem;
}

#academy-info .info-module .text p {
  margin: 0.5rem 0;
}

#academy-info .info-module .desktop.image-container {
  width: 35%;
}

#academy-info .info-module .desktop.image-container img {
  width: 100%;
}

#academy-info .info-module .mobile.image-container {
  width: 100%;
}

#academy-info .info-module .mobile.image-container img {
  width: 100%;
  height: auto;
}

#academy-info .info-module .text-container {
  display: flex;
  align-items: center;
  width: 65%;
}

#academy-info .info-module .text-container .text {
  padding-left: 1rem;
}

#academy-info .read-more a {
  color: dodgerblue;
}

@media only screen and (min-width: 701px) {
  #academy-info .info-module .mobile.image-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #academy-info .info-module .desktop.image-container {
    display: none;
  }

  #academy-info .testimonial-container {
    display: none;
  }

  #academy-info .info-modules-container {
    width: 100%;
  }

  #academy-info .info-module {
    flex-direction: column;
  }

  #academy-info .info-module .text-container {
    width: 100%;
  }

  #academy-info .info-module .text-container .text {
    padding: 2rem 1rem;
  }
}

/* Courses */

#courses {
  padding: 2rem 4.5rem;
  background: lightgrey;
}

#courses h1 {
  text-align: center;
  padding-bottom: 2rem;
}

#courses .first-row, .second-row {
  display: flex;
}

#courses .second-row {
  margin-top: 2rem;
}

#courses .course-item {
  width: 100%;
  background-color: white;
}

#courses .course-item img {
  width: 100%;
  height: auto;
}

#courses .course-item.center {
  margin: 0 2rem;
}

#courses .course-item .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

#courses .course-item .label {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 701px) {
  #courses .mobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #courses {
    background-color: white;
    border-top: 1px solid lightgrey;
    padding: 2rem 1rem;
  }

  #courses h1 {
    padding-bottom: 0.5rem;
  }

  #courses .desktop {
    display: none;
  }

  #courses .mobile ul li {
    margin-top: 0.5rem;
  }

  #courses .mobile li h2 {
    background-color: lightgrey;
    padding: 1.5rem 1rem;
  }
}

/* Thesis Exhibit */

#thesis {
  padding: 2rem 0 2rem 1.5rem;
}

#thesis h1 {
  text-align: center;
  padding-bottom: 2rem;
}

#thesis .thesis-container {
  display: flex;
}

#thesis .video-thesis {
  width: 60%;
}

#thesis .video-thesis video {
  width: 100%;
  height: auto;
}

#thesis .video-thesis .text-container h2 {
  margin: 1.5rem 0 0.5rem 0;
}

#thesis .thesis-modules-container {
  width: 40%;
  border-left: 1px solid lightgrey;
  margin-left: 1.5rem;
}

#thesis .thesis-module {
  display: flex;
  padding: 1rem;
}

#thesis .thesis-module .image-container {
  width: 35%;
}

#thesis .thesis-module .image-container img {
  width: 100%;
  height: auto;
}

#thesis .thesis-module .text-container {
  display: flex;
  align-items: center;
  width: 65%;
}

#thesis .text-container .text {
  padding-left: 1rem;
}

#thesis .text-container p {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 700px) {
  #thesis {
    padding-left: 0;
  }

  #thesis .thesis-modules-container {
    display: none;
  }

  #thesis .video-thesis {
    width: 100%;
  }

  #thesis .video-thesis .text-container {
    display: none;
  }

}

/* Footer */

footer .content {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  border-top: 1px solid lightgrey;
  padding: 1rem 0 2rem 0;
}

footer .terms-and-privacy span {
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  footer .content {
    border-top: none;
  }

  footer .terms-and-privacy {
    display: none;
  }
}
