/* Universal Style */

html {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #4A4A4A;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
}

.flex {
  display: flex;
}

.container {
  margin: 0 24px;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

h1, h2, h3, p {
  margin: 0;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

header .desktop-content {
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0 24px;
}

header .desktop-content .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header .desktop-content li {
  display: inline;
  padding-left: 16px;
}

header .mobile-content ul {
  display: flex;
  height: 64px;
}

header .mobile-content li {
  margin: auto;
}

@media only screen and (min-width: 701px) {
  header .mobile-content {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  header .desktop-content {
    display: none;
  }
}

/* Main Content */

.main-content {
  margin-top: 64px;
}

/* Banner */

#banner {
  display: flex;
  padding: 32px 24px;
  background-color: lightgrey;
}

#banner .image-container {
  width: 60%;
}

#banner .image-container img {
  width: 100%;
}

#banner .text-container {
  display: flex;
  width: 40%;
  align-items: center;
}

#banner .text {
  width: 100%;
  padding-left: 24px;
}

#banner .start-button {
  padding: 8px 0;
  background-color: #4A4A4A;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

#banner .start-button a {
  color: white;
}

@media only screen and (max-width: 700px){
  #banner {
    flex-direction: column;
    padding: 0;
  }

  #banner .image-container {
    width: 100%;
  }

  #banner .text-container {
    width: 100%;
  }

  #banner .text {
    padding: 32px 16px;
  }
}

/* Academy Info */

#academy-info {
  display: flex;
}

#academy-info .testimonial-container {
  width: 60%;
  padding: 32px 24px;s
}

#academy-info .testimonial-container img {
  width: 100%;
}

#academy-info .info-modules-container {
  width: 40%;
  padding: 16px 0;
  border-left: 1px solid lightgrey;
}

#academy-info .info-module {
  display: flex;
  padding: 16px;
}

#academy-info .info-module .desktop.image-container {
  width: 35%;
}

#academy-info .info-module .desktop.image-container img {
  width: 100%;
}

#academy-info .info-module .mobile.image-container {
  width: 100%;
}

#academy-info .info-module .mobile.image-container img {
  width: 100%;
  height: auto;
}

#academy-info .info-module .text-container {
  display: flex;
  align-items: center;
  width: 65%;
}

#academy-info .info-module .text-container .text {
  padding-left: 24px;
}

@media only screen and (min-width: 701px) {
  #academy-info .info-module .mobile.image-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #academy-info .info-module .desktop.image-container {
    display: none;
  }

  #academy-info .testimonial-container {
    display: none;
  }

  #academy-info .info-modules-container {
    width: 100%;
  }

  #academy-info .info-module {
    flex-direction: column;
  }

  #academy-info .info-module .text-container {
    width: 100%;
  }

  #academy-info .info-module .text-container .text {
    padding: 32px 16px;
  }
}

/* Courses */

#courses {
  background-color: lightgrey;
}

#courses h1 {
  text-align: center;
  padding: 32px 0;
}

.course-items {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

#courses .item {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid black;
  background-color: white;
}

#courses .item img {
  width: 100%;
  height: auto;
}

#courses .item .text-content {
  padding: 16px 16px 32px 16px;
}

#courses .item.center {
  margin: 0 35px;
} /* why does it work when you stick to classes togehter like this? */

/* Thesis Video */

#thesis.container {
  padding: 32px 0;
}

#thesis h1 {
  text-align: center;
  padding-bottom: 32px;
}

#thesis .thesis-video {
  width: 60%;
  margin-right: 24px;
}

.thesis-video video {
  width: 100%;
  height: auto;
}

.thesis-list {
  width: 40%;
}

#thesis .thesis-item {
  padding: 16px;
  background-color: lightgrey;
}

.thesis-item .text-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left: 16px;
}

.thesis-list .image-container {
  width: 35%;
  height: auto;
}

.thesis-list .image-container img {
  width: 100%;
}

/* Footer */

footer {
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding: 16px 0 64px 0;
}

.terms-and-privacy span {
  padding-left: 16px;
}
